*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.container{
  height: 100vh;
  background:  linear-gradient(90deg, rgba(33,32,38,1) 0%, rgba(36,51,46,1) 14%, rgba(33,32,38,1) 100%);
  background-position: right;
  background-size: cover;
  position: relative;
}

.nav-bar{
  padding: 20px 120px;
}
.nav-logo{
  width: 100px;
  height: 16px;
}
.nav-bar span{
  color:#FFF;
  font-size: 27px;
  font-weight: 600;
}

.nav-logo img{
  width: 100%;
  float: left;
}
.nav-links{
  float: right;
}
.nav-links ul{
  display: inline;
}
.nav-links ul li{
  display: inline-block;
  list-style: none;
  padding: 0 25px;
}
.nav-links ul a{
  color:#FFF;
  text-decoration: none;
  font-size: 15px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background-color: #ffec00;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after,.nav-links ul li.active::after{
  width: 100%;
}
.nav-links .btn{
  margin-top: -5px;
  padding: 8px 16px;
  border:0;
  background-color: #ffec00;
  font-weight: bold;
  cursor: pointer;
}

.content
{
  display: flex;
  justify-content: center;
}
.content .left{
color:#FFF;
margin: 110px 0 0 100px;
}
.content .left h1{
  color:#fbfbfb;
  font-size: 65px;
  letter-spacing: 10px;
}
.content .left p{
  color:#fbfbfb;
  font-size: 15px;
}
.content .right img{
width: 750px;
height: 380px;
object-fit: cover;
margin: 40px 30px 0 -100px;
}

.notification{
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
}
.notification .item{
 margin-left: 20px;
 display: flex;
}
.notification .map{
  width: 200px;
  object-fit: contain;
  margin-bottom: 25px;
}
.notification .helemt{
  width: 100px;
  object-fit: contain;
  margin-bottom: 25px;
}
.notification .item div{
  margin: 30px 20px;
}
.notification ul{
  list-style: none;
  line-height: 130px;
  margin-right: 35px;
}
.notification ul li{
  display: inline-block;
}
.notification ul li a{
  text-decoration: none;
  color:#FFF;
  margin: 10px;
  font-size: 22px;
  transition: 0.3s;
}
.notification ul li a:hover{
  color:#ffec00;
}
.notification h2{
  font-size: 25px;
}
